<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置定时任务池 -->
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" id="poolTaskExecutor">
        <property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="20"/>
        <property name="queueCapacity" value="200"/>
    </bean>

    <bean class="com.kither.tesk.ConsoleTask" id="consoleTask" scope="singleton" />
    <!-- 配置一个定时任务 -->
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
          id="invokingJobDetailFactoryBean">
        <property name="targetMethod" value="printTime"/>
        <property name="targetObject" ref="consoleTask"/>
        <property name="concurrent" value="false"/>
    </bean>

    <!-- 配置任务触发器 -->
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="cronTrigger">
        <property name="jobDetail" ref="invokingJobDetailFactoryBean"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
        <property name="startDelay" value="10000"/>
        <property name="timeZone" value="Asia/Shanghai"/>
    </bean>

    <!-- 配置自动任务的列表 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="schedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
        <property name="taskExecutor" ref="poolTaskExecutor"/>
    </bean>
</beans>
